/* Margen general y reseteo */
* {
    margin: 0;/* Elimina el margen y el padding predeterminados para un diseño más limpio */
    padding: 0;/* Elimina el margen y el padding predeterminados para un diseño más limpio */
    box-sizing: border-box; /* Asegura que el padding y el borde no afecten al tamaño total de los elementos */
}
body {
    width: 100%; /* Ancho completo para el cuerpo del documento */
    height: 100%; /* Altura completa de la ventana del navegador */
    background-color: #f0f0f0; /* Color de fondo claro para el cuerpo del documento */
}
.header {
    background-color: #5ea5d4; /* Color de fondo oscuro para el encabezado */
    padding: 30px; /* Espaciado interno del encabezado */
}
.gris {
        width: 30%; /* Ancho fijo para el elemento con clase "gris" */
        height: 340px; /* Alto fijo para el elemento con clase "gris" */ 
        background: #d0d0d0; /* Color de fondo gris para el elemento con clase "gris" */
        position: fixed; /* Posiciona el elemento de forma fija en la pantalla */
        top: 80px; /* Centra verticalmente el elemento en la pantalla */
        left:0; /* Centra horizontalmente el elemento en la pantalla */
}
.container {
        width: 69%; /* Ancho fijo para el elemento con clase "gris" */
        height: 340px; /* Alto fijo para el elemento con clase "gris" */ 
        background: #0209ba; /* Color de fondo gris para el elemento con clase "gris" */
        position: fixed; /* Posiciona el elemento de forma fija en la pantalla */
        top: 80px; /* Centra verticalmente el elemento en la pantalla */
        left: 31%; /* Centra horizontalmente el elemento en la pantalla */
        padding: 10px; /* Espaciado interno del contenedor */
}
.verde {
        width: 100%; /* Ancho completo para el elemento con clase "verde" */
        height: 150px; /* Alto fijo para el elemento con clase "verde" */
        background: #00ff00; /* Color de fondo verde para el elemento con clase "verde" */
        margin: 10px 0; /* Margen vertical para separar el elemento con clase "verde" del elemento con clase "morado" */
}
.morado {
        width: 100%; /* Ancho completo para el elemento con clase "morado" */
        height: 150px; /* Alto fijo para el elemento con clase "morado" */
        background: #800080; /* Color de fondo morado para el elemento con clase "morado" */
}
.rojovino {
        width: 100%; /* Ancho fijo para el elemento con clase "gris" */
        height: 120px; /* Alto fijo para el elemento con clase "gris" */ 
        background: #4c1d1d; /* Color de fondo gris para el elemento con clase "gris" */
        position: fixed; /* Posiciona el elemento de forma fija en la pantalla */
        top: 430px; /* Centra verticalmente el elemento en la pantalla */
        left: 0; /* Centra horizontalmente el elemento en la pantalla */
        margin-bottom: 10px; /* Margen inferior para separar el elemento con clase "rojovino" del pie de página */
}
footer {
    background-color: #5ea5d4; /* Color de fondo oscuro para el pie de página */
    padding: 20px; /* Espaciado interno del pie de página */
    position: fixed; /* Posiciona el pie de página de forma fija en la pantalla */
    bottom: 0; /* Coloca el pie de página en la parte inferior de la pantalla */
    width: 100%; /* Ancho completo para el pie de página */
}


