* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h1 {   
    color: #4000ff; /* Color claro para destacar el título */
    font-size: 45px; /* Tamaño grande para destacar el título */
    text-align: center; /* Centra el texto dentro del título */
    margin: 20px 0; /* Espacio arriba y abajo del título para separarlo del contenido */
}
.p {
    color: #ff0000; /* Color rojo para el texto del párrafo */
    font-size: 30px; /* Tamaño legible para el texto del párrafo */
    line-height: 1.5; /* Espacio entre líneas para mejorar la legibilidad */
    text-align: justify; /* Justifica el texto para una apariencia más ordenada */
    margin: 20px 0; /* Espacio arriba y abajo del párrafo para separarlo del título y otros elementos */
    padding: 0 100px; /* Espacio a los lados del párrafo para evitar que el texto toque los bordes de la pantalla */ 
}
.borde1 {   
    border-style: solid; /* Borde sólido en todos los lados */
    border-width: 15px; /* Ancho del borde de 15px */
    border-color: #ff0000 black blue green;/* Colores para cada lado del borde: rojo para el lado superior, negro para el lado derecho, azul para el lado inferior y verde para el lado izquierdo */    
    text-align: center; /* Centra el texto dentro del div */
    font-size: large; /* Tamaño grande para el texto dentro del div */
    color: #2008f4; /* Color blanco para el texto dentro del div */
    border-radius: 15px; /* Bordes redondeados para un aspecto más suave */
    background: linear-gradient(to right, #0a02f3, #ffffff); /* Color de fondo azul para resaltar el div */
    padding: 20px 50px; /* Espacio entre el borde y el contenido dentro del div */
    margin: 100px; /* Espacio alrededor del div para separarlo de otros elementos */
    width: 300px; /* Ancho fijo para el div */
    height: 100px; /* Alto fijo para el div */
}
.borde2 {
    border: 10px solid; /* Borde sólido de 10px en todos los lados */
    border-image-source: linear-gradient(to right, #9b0f94, #7575ed);/* Degradado de color para el borde, de rosa a azul */
    border-image-slice: 1; /* Define cómo se divide la imagen del borde para aplicarla a los lados */
    text-align: center; /* Centra el texto dentro del div */
    background-color: black;    /* Color de fondo negro para resaltar el div */
    text-align: center; /* Centra el texto dentro del div */
    color: #ffffff; /* Color blanco para el texto dentro del div */ 
    padding: 20px 50px; /* Espacio entre el borde y el contenido dentro del div */
    margin: 100px; /* Espacio alrededor del div para separarlo de otros elementos */
    width: 300px; /* Ancho fijo para el div */
    height: 100px; /* Alto fijo para el div */
}
