/* Margen general y reseteo */
* {
    margin: 0;/* Elimina el margen y el padding predeterminados para un diseño más limpio */
    padding: 0;/* Elimina el margen y el padding predeterminados para un diseño más limpio */
    box-sizing: border-box; /* Asegura que el padding y el borde no afecten al tamaño total de los elementos */
}
header {
    background-color: #5ea5d4;/* Color de fondo oscuro para el encabezado */
    padding: 10px; /* Espaciado interno del encabezado */
    text-align: center; /* Centra el texto dentro del encabezado */
}
.navbar {
    text-align: right; /* Centra el texto dentro de la barra de navegación */
}
.nav-link {
    display: inline-block; /* Muestra los enlaces de navegación en línea */
    margin-left: 20px; /* Espacio entre los enlaces de navegación */
    color: white; /* Color claro para los enlaces de navegación */
    text-decoration: none; /* Elimina el subrayado de los enlaces de navegación */
}
.nav-link:hover {
    background-color: #4c5ea9;  /* Color de fondo al pasar el mouse por encima del enlace del menu*/
    text-decoration: none;  /* Asegura que el texto no se subraye al pasar el mouse por encima del enlace del menu*/
    transform: scale(1.05); /* Aumenta ligeramente el tamaño del enlace del menu al pasar el mouse por encima*/
}
.ejercicios {
    width: 97%; /* Ancho fijo para el elemento con clase "gris" */
        height: 340px; /* Alto fijo para el elemento con clase "gris" */ 
        background: #d0d0d0; /* Color de fondo gris para el elemento con clase "gris" */
        position: fixed; /* Posiciona el elemento de forma fija en la pantalla */
        top: 100px; /* Centra verticalmente el elemento en la pantalla */
        left: 20px; /* Centra horizontalmente el elemento en la pantalla */
}
.subtitulo {
    width: 100%; /* Ancho fijo para el elemento con clase "gris" */
    height: 80px; /* Alto fijo para el elemento con clase "gris" */ 
    top: 50px; /* Centra verticalmente el elemento en la pantalla */
    left: 100%; /* Centra horizontalmente el elemento en la pantalla */
    padding: 20px; /* Espaciado interno del contenedor */
}
footer {
    background-color: #5ea5d4; /* Mismo gris que el header para balance */
    color: white;/* Color claro para el texto del footer */
    padding: 50px 250px;/* Más espacio para un aspecto más elegante */
    margin-top: 400px;/* Espacio entre el contenido y el footer */
    text-align: center; /* Alineación centrada para un estilo más profesional */
}